<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Избранные самолёты</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h2>Избранные самолёты</h2>

    {% if favorites %}
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>ID самолёта</th>
                        <th>Страна</th>
                        <th>Широта</th>
                        <th>Долгота</th>
                        <th>Управление</th>
                    </tr>
                </thead>
                <tbody>
                    {% for favorite in favorites %}
                    <tr>
                        <td>{{ favorite.aircraft_id }}</td>
                        <td>{{ favorite.country }}</td>
                        <td>{{ favorite.latitude }}</td>
                        <td>{{ favorite.longitude }}</td>
                        <td>
                            <!-- Форма для удаления самолёта из избранного -->
                            <form method="post" action="{% url 'toggle_favorite' favorite.aircraft_id %}">
                                {% csrf_token %}
                                <input type="hidden" name="aircraft_data" value="{{ favorite.country }},{{ favorite.latitude }},{{ favorite.longitude }}">
                                <button type="submit" class="favorite-button">Убрать из избранного</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>Нет избранных самолётов.</p>
    {% endif %}
</body>
</html>
