{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>

    <!-- Подключаем файл стилей -->
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>

    <!-- Контейнер для формы входа с логотипом и приветственной надписью -->
    <div class="login-container">

        <!-- Логотип и приветственная надпись внутри формы -->
        <div class="logo-container">
            <img src="{% static 'images/logo.png' %}" alt="Логотип">
        </div>

        <div class="welcome-message">
            <p>Добро пожаловать в SKY! Пожалуйста, войдите в свой аккаунт</p>
        </div>

        <h2>Вход</h2>

        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}

            <!-- Поле для имени пользователя -->
            <div>
                {{ form.username.label_tag }}
                {{ form.username }}
                {{ form.username.errors }}
            </div>

            <!-- Поле для пароля -->
            <div>
                {{ form.password.label_tag }}
                {{ form.password }}
                {{ form.password.errors }}
            </div>

            <!-- Кнопка входа -->
            <button type="submit" class="auth-button">Войти</button>
        </form>

        <!-- Ссылка для регистрации -->
        <p>Нет аккаунта? <a href="{% url 'register' %}" class="register-link">Зарегистрироваться</a></p>
    </div>

</body>
</html>
