{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aircraft Tracker</title>

    <!-- Подключаем файл стилей -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav>
        <ul style="list-style-type: none;">
            <li style="display: inline;">
               <!-- <a href="{% url 'aircrafts' %}" class="auth-button">Список воздушных судов</a> -->
            </li>
            {% if user.is_authenticated %}
                <li style="display: inline;">
                <span>Вы вошли как {{ user.username }}</span>
		        <form method="post" action="{% url 'logout' %}" style="display:inline;">
		            {% csrf_token %}
                    <button type="submit" class="auth-button">Выйти</button>
                </form>
            {% else %}
                <li style="display: inline;">
                    <a href="{% url 'login' %}" class="auth-button">Войти</a>
                </li>
                <li style="display: inline;">
                    <a href="{% url 'register' %}" class="auth-button">Регистрация</a>
                </li>
            {% endif %}
        </ul>
    </nav>

    <!-- Поддержка сообщений -->
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <hr>
    {% block content %}
    {% endblock %}
</body>
</html>
